<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hai_da_shi_tang2019">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.hai_da_shi_tang2019.niu_du_gai_jiao_mian"></activity>
        <activity android:name="com.example.hai_da_shi_tang2019.huang_fei_hong_xiang_su_xia" />
        <activity android:name="com.example.hai_da_shi_tang2019.zhi_ma_kao_bing" />
        <activity android:name="com.example.hai_da_shi_tang2019.nan_gua_fa_gao" />
        <activity android:name="com.example.hai_da_shi_tang2019.ji_dan_bing" />
        <activity android:name="com.example.hai_da_shi_tang2019.yuan_wei_dou_nai" />
        <activity android:name="com.example.hai_da_shi_tang2019.kao_bao_zi" />
        <activity android:name="com.example.hai_da_shi_tang2019.huo_luo_bo" />
        <activity android:name="com.example.hai_da_shi_tang2019.tu_dou_bao" />
        <activity android:name="com.example.hai_da_shi_tang2019.bai_zhou" />
        <activity android:name="com.example.hai_da_shi_tang2019.hua_juan" />
        <activity android:name="com.example.hai_da_shi_tang2019.ma_la_shan_ding_ban_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.zi_bu_niu_rou_dao_xiao_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.hong_shao_niu_nan_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.hong_shao_pai_gu_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.ji_ding_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.xiang_gu_rou_lu_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.zha_jiang_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.san_xian_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.hang_zhou_pian_chuan_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.qi_shan_sao_zi_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.xi_hong_shi_ji_dan_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.xiang_gu_dun_ji_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.zhi_ma_jiang_ban_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.chong_qing_xiao_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.lu_zhu_ti" />
        <activity android:name="com.example.hai_da_shi_tang2019.lu_ya_tui" />
        <activity android:name="com.example.hai_da_shi_tang2019.lu_ji_tui" />
        <activity android:name="com.example.hai_da_shi_tang2019.lu_ya_zhua" />
        <activity android:name="com.example.hai_da_shi_tang2019.lu_ji_zhua" />
        <activity android:name="com.example.hai_da_shi_tang2019.lu_ya_tou" />
        <activity android:name="com.example.hai_da_shi_tang2019.lu_dou_fu" />
        <activity android:name="com.example.hai_da_shi_tang2019.lu_dou" />
        <activity android:name="com.example.hai_da_shi_tang2019.ji_dan_jiu_cai_bing" />
        <activity android:name="com.example.hai_da_shi_tang2019.ji_dan_huo_tui_bing" />
        <activity android:name="com.example.hai_da_shi_tang2019.zhi_ma_tian_su_bing" />
        <activity android:name="com.example.hai_da_shi_tang2019.qing_jiao_rou_si_bing" />
        <activity android:name="com.example.hai_da_shi_tang2019.shan_xi_rou_jia_mo" />
        <activity android:name="com.example.hai_da_shi_tang2019.shang_hai_xiao_long_bao" />
        <activity android:name="com.example.hai_da_shi_tang2019.sheng_jian" />
        <activity android:name="com.example.hai_da_shi_tang2019.guo_tie" />
        <activity android:name="com.example.hai_da_shi_tang2019.hun_tun" />
        <activity android:name="com.example.hai_da_shi_tang2019.jian_bing" />
        <activity android:name="com.example.hai_da_shi_tang2019.cong_you_bing" />
        <activity android:name="com.example.hai_da_shi_tang2019.shang_hai_qiang_bing" />
        <activity android:name="com.example.hai_da_shi_tang2019.tang_ludan" />
        <activity android:name="com.example.hai_da_shi_tang2019.hei_jiao_ji_liu" />
        <activity android:name="com.example.hai_da_shi_tang2019.hai_xian_wu_dong_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.bo_luo_cui_pi_ji" />
        <activity android:name="com.example.hai_da_shi_tang2019.hei_jiao_zhu_pai" />
        <activity android:name="com.example.hai_da_shi_tang2019.song_ban_rou" />
        <activity android:name="com.example.hai_da_shi_tang2019.jiang_bao_you_yu" />
        <activity android:name="com.example.hai_da_shi_tang2019.xiang_jian_long_li_yun" />
        <activity android:name="com.example.hai_da_shi_tang2019.jin_zhen_gu_niu_liu" />
        <activity android:name="com.example.hai_da_shi_tang2019.pei_gen_juan_xin_cai" />
        <activity android:name="com.example.hai_da_shi_tang2019.qiu_dao_yu" />
        <activity android:name="com.example.hai_da_shi_tang2019.xiang_la_ya_chang" />
        <activity android:name="com.example.hai_da_shi_tang2019.tie_ban_pei_gen_chao_dan" />
        <activity android:name="com.example.hai_da_shi_tang2019.tie_ban_ya_chang_chao_dan" />
        <activity android:name="com.example.hai_da_shi_tang2019.xiang_jian_ji_pai" />
        <activity android:name="com.example.hai_da_shi_tang2019.qin_cai_xian_rou_shui_jiao" />
        <activity android:name="com.example.hai_da_shi_tang2019.bai_cai_xian_rou_shui_jiao" />
        <activity android:name="com.example.hai_da_shi_tang2019.jiu_cai_xian_rou_shui_jiao" />
        <activity android:name="com.example.hai_da_shi_tang2019.xian_rou_shui_jiao" />
        <activity android:name="com.example.hai_da_shi_tang2019.lu_wu_hua_rou" />
        <activity android:name="com.example.hai_da_shi_tang2019.mei_gui_you_ji" />
        <activity android:name="com.example.hai_da_shi_tang2019.lu_shui_shun_feng" />
        <activity android:name="com.example.hai_da_shi_tang2019.mi_zhi_chao_sha" />
        <activity android:name="com.example.hai_da_shi_tang2019.gang_shi_shao_ya" />
        <activity android:name="com.example.hai_da_shi_tang2019.pao_cai_pei_gen_shi_guo_ban_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.mo_gu_pei_gen_shi_guo_ban_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.mo_gu_ji_rou_shi_guo_ban_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.mo_gu_niu_rou_shi_guo_ban_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.pao_cai_you_yu_shi_guo_ban_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.you_yu_wu_hua_rou_shi_guo_ban_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.pao_cai_tang_jia_yin_la_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.dou_fu_tang_jia_yin_la_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.jian_kang_shi_guo_ban_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.huo_tui_shi_guo_ban_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.jin_zhen_gu_shi_guo_ban_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.pao_cai_shi_guo_ban_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.ji_rou_shi_guo_ban_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.pei_gen_shi_guo_ban_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.you_yu_shi_guo_ban_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.wu_hua_rou_shi_guo_ban_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.niu_rou_shi_guo_ban_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.pao_cai_ji_rou_shi_guo_ban_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.pao_cai_niu_rou_shi_guo_ban_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.pao_cai_wu_hua_rou_shi_guo_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.lu_shui_niu_jian_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.lu_wu_hua_rou_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.tu_shui_ya_tui_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.lu_shui_zhu_ti_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.lu_shui_ji_tui_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.ao_men_shao_rou_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.shan_lin_hong_chang_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.shen_jing_shao_e_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.lu_shui_shun_fen_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.mi_zhi_cha_shao_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.mei_gui_you_ji_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.gu_li_shao_ya_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.pai_tiao" />
        <activity android:name="com.example.hai_da_shi_tang2019.hang_jiao_niu_liu" />
        <activity android:name="com.example.hai_da_shi_tang2019.hao_you_niu_rou" />
        <activity android:name="com.example.hai_da_shi_tang2019.mu_xu_rou" />
        <activity android:name="com.example.hai_da_shi_tang2019.rou_si_hui_dan" />
        <activity android:name="com.example.hai_da_shi_tang2019.xia_ren_hui_dan" />
        <activity android:name="com.example.hai_da_shi_tang2019.jin_zhen_gu_rou_si" />
        <activity android:name="com.example.hai_da_shi_tang2019.shou_si_bao_cai" />
        <activity android:name="com.example.hai_da_shi_tang2019.suan_la_tu_dou_si" />
        <activity android:name="com.example.hai_da_shi_tang2019.yu_xiang_rou_si" />
        <activity android:name="com.example.hai_da_shi_tang2019.qing_jiao_chao_dan" />
        <activity android:name="com.example.hai_da_shi_tang2019.qing_jiao_rou_si" />
        <activity android:name="com.example.hai_da_shi_tang2019.ma_po_dou_fu" />
        <activity android:name="com.example.hai_da_shi_tang2019.yu_xiang_qie_zi" />
        <activity android:name="com.example.hai_da_shi_tang2019.hui_guo_rou" />
        <activity android:name="com.example.hai_da_shi_tang2019.gong_bao_ji_ding" />
        <activity android:name="com.example.hai_da_shi_tang2019.la_wei_ji_ding" />
        <activity android:name="com.example.hai_da_shi_tang2019.nong_jia_xiao_chao_rou" />
        <activity android:name="com.example.hai_da_shi_tang2019.jiao_yan_ya" />
        <activity android:name="com.example.hai_da_shi_tang2019.ga_li_ji_kuai" />
        <activity android:name="com.example.hai_da_shi_tang2019.hong_shao_ji_kuai" />
        <activity android:name="com.example.hai_da_shi_tang2019.jun_gu_chao_niu_liu" />
        <activity android:name="com.example.hai_da_shi_tang2019.huang_fei_hong_la_zi_ji" />
        <activity android:name="com.example.hai_da_shi_tang2019.jun_gu_chao_tuo_tuo_rou" />
        <activity android:name="com.example.hai_da_shi_tang2019.duo_jiao_tuo_tuo_rou" />
        <activity android:name="com.example.hai_da_shi_tang2019.jiang_bao_tuo_tuo_rou" />
        <activity android:name="com.example.hai_da_shi_tang2019.fei_cui_yu_wan_miao_mu_er" />
        <activity android:name="com.example.hai_da_shi_tang2019.jun_gu_rou_pian" />
        <activity android:name="com.example.hai_da_shi_tang2019.su_shi_jin" />
        <activity android:name="com.example.hai_da_shi_tang2019.ga_li_niu_rou" />
        <activity android:name="com.example.hai_da_shi_tang2019.xia_ren_hui_dou_fu" />
        <activity android:name="com.example.hai_da_shi_tang2019.xiang_gu_hua_ji" />
        <activity android:name="com.example.hai_da_shi_tang2019.qin_cai_gan_si_rou_si" />
        <activity android:name="com.example.hai_da_shi_tang2019.qin_cai_rou_si" />
        <activity android:name="com.example.hai_da_shi_tang2019.qing_jiao_gan_si_rou_si" />
        <activity android:name="com.example.hai_da_shi_tang2019.ba_bao_zhou" />
        <activity android:name="com.example.hai_da_shi_tang2019.lv_dou_zhou" />
        <activity android:name="com.example.hai_da_shi_tang2019.xiang_gu_niu_rou_zhou" />
        <activity android:name="com.example.hai_da_shi_tang2019.pi_dan_shou_rou_zhou" />
        <activity android:name="com.example.hai_da_shi_tang2019.tu_dou_fen" />
        <activity android:name="com.example.hai_da_shi_tang2019.xiang_gu_rou_pian_fen" />
        <activity android:name="com.example.hai_da_shi_tang2019.zhang_zhong_bao_fen" />
        <activity android:name="com.example.hai_da_shi_tang2019.hong_shao_niu_rou_fen" />
        <activity android:name="com.example.hai_da_shi_tang2019.niu_wan_fen" />
        <activity android:name="com.example.hai_da_shi_tang2019.suan_dou_jiao_rou_si_tang" />
        <activity android:name="com.example.hai_da_shi_tang2019.yu_wan_fen" />
        <activity android:name="com.example.hai_da_shi_tang2019.ji_si_fen" />
        <activity android:name="com.example.hai_da_shi_tang2019.gang_shi_chao_fen" />
        <activity android:name="com.example.hai_da_shi_tang2019.gang_shi_yun_tun_fen" />
        <activity android:name="com.example.hai_da_shi_tang2019.suan_la_sun_jian_fen" />
        <activity android:name="com.example.hai_da_shi_tang2019.la_zi_ji_fen" />
        <activity android:name="com.example.hai_da_shi_tang2019.san_xian_tang_fen" />
        <activity android:name="com.example.hai_da_shi_tang2019.gang_shi_ban_fen" />
        <activity android:name="com.example.hai_da_shi_tang2019.la_rou_gan_ban_fen" />
        <activity android:name="com.example.hai_da_shi_tang2019.ma_la_ji_fen" />
        <activity android:name="com.example.hai_da_shi_tang2019.fan_qie_dan_fen" />
        <activity android:name="com.example.hai_da_shi_tang2019.gao_tang_shi_jin_fen" />
        <activity android:name="com.example.hai_da_shi_tang2019.kai_wei_suan_la_fen" />
        <activity android:name=".niu_rou_gai_jiao_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.niu_rou_gan_ban_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.qing_jiao_niu_rou_gai_jiao_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.wu_xiang_niu_rou_ban_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.xin_jiang_ban_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.chao_pao_zhang_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.tu_dou_ji_kuai_gai_jiao_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.qie_zi_ban_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.fan_qie_chao_dan_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.niu_rou_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.he_bao_dan_mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.niu_rou_shui_jiao" />
        <activity android:name="com.example.hai_da_shi_tang2019.hao_you_dan_chao_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.xia_ren_dan_chao_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.lao_gan_ma_niu_rou_chao_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.pei_gen_chao_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.rou_si_bao_chao_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.ma_la_ji_si_chao_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.yue_shi_huo_tui_chao_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.li_ji_bao_chao_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.fei_niu_guo_zai" />
        <activity android:name="com.example.hai_da_shi_tang2019.yu_tou_guo_zai" />
        <activity android:name="com.example.hai_da_shi_tang2019.suan_cai_yu_guo_zai" />
        <activity android:name="com.example.hai_da_shi_tang2019.ji_yu_guo_zai" />
        <activity android:name="com.example.hai_da_shi_tang2019.suan_tang_xiao_suan_rou" />
        <activity android:name="com.example.hai_da_shi_tang2019.pi_jiu_ya_guo_zai" />
        <activity android:name="com.example.hai_da_shi_tang2019.hei_jiao_li_ji_guo_zai" />
        <activity android:name="com.example.hai_da_shi_tang2019.xiang_chang_ji_dan" />
        <activity android:name="com.example.hai_da_shi_tang2019.san_xian_pai_tiao" />
        <activity android:name="com.example.hai_da_shi_tang2019.yu_wan_san_xian_guo_zai" />
        <activity android:name="com.example.hai_da_shi_tang2019.la_zi_ji_guo_zai" />
        <activity android:name="com.example.hai_da_shi_tang2019.xin_ao_er_liang_kao_ji_guo_zai" />
        <activity android:name="com.example.hai_da_shi_tang2019.jun_gu_ji_dan_guo_zai" />
        <activity android:name="com.example.hai_da_shi_tang2019.jin_zhen_gu_guo_zai" />
        <activity android:name="com.example.hai_da_shi_tang2019.hong_shao_pai_gu_guo_zai" />
        <activity android:name="com.example.hai_da_shi_tang2019.hong_shao_niu_rou_guo_zai" />
        <activity android:name="com.example.hai_da_shi_tang2019.gong_xiang_pai_gu_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.huang_men_ji_mi_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.ji_rou_dan_bao_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.Tie_ban_dan_bao_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.xiang_chang_dan_bao_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.huang_dou_zhu_jiao" />
        <activity android:name="com.example.hai_da_shi_tang2019.zha_zhu_pai" />
        <activity android:name="com.example.hai_da_shi_tang2019.pei_gen" />
        <activity android:name="com.example.hai_da_shi_tang2019.ba_ya" />
        <activity android:name="com.example.hai_da_shi_tang2019.tu_er_qi_zha_rou_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.jiang_shao_ya_ba_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.hong_shao_rou_pai_gu" />
        <activity android:name="com.example.hai_da_shi_tang2019.hong_shao_pai_gu" />
        <activity android:name="com.example.hai_da_shi_tang2019.hong_shao_niu_rou_ba_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.suan_cai_yu_pian_ba_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.hong_shao_yu_kuai_ba_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.hong_shao_zai__ji_ba_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.yang_rou_shou_zhua_fan" />
        <activity android:name="com.example.hai_da_shi_tang2019.cong_bao_niu_rou" />
        <activity android:name="com.example.hai_da_shi_tang2019.tu_dou_niu_rou" />
        <activity android:name="com.example.hai_da_shi_tang2019.xiang_la_ji" />
        <activity android:name="com.example.hai_da_shi_tang2019.kao_ya_tui" />
        <activity android:name="com.example.hai_da_shi_tang2019.hong_shao_qie_zi" />
        <activity android:name="com.example.hai_da_shi_tang2019.wu_xiang_ya" />
        <activity android:name="com.example.hai_da_shi_tang2019.kao_ji_tui" />
        <activity android:name="com.example.hai_da_shi_tang2019.zhi_ma_niu_rou_wan" />
        <activity android:name="com.example.hai_da_shi_tang2019.huang_jin_ji_liu" />
        <activity android:name="com.example.hai_da_shi_tang2019.hong_shao_yu" />
        <activity android:name="com.example.hai_da_shi_tang2019.jiao_ma_ji" />
        <activity android:name="com.example.hai_da_shi_tang2019.la_zi_ji_kuai" />
        <activity android:name="com.example.hai_da_shi_tang2019.kao_fu_niu_rou" />
        <activity android:name="com.example.hai_da_shi_tang2019.hua_cai_chao_rou" />
        <activity android:name="com.example.hai_da_shi_tang2019.hei_jiao_ji_kuai" />
        <activity android:name="com.example.hai_da_shi_tang2019.wo_sun_chao_rou_pian" />
        <activity android:name="com.example.hai_da_shi_tang2019.san_se_yu_mi" />
        <activity android:name="com.example.hai_da_shi_tang2019.su_chao_hai_dai_jie" />
        <activity android:name="com.example.hai_da_shi_tang2019.jiu_cai_chao_dan" />
        <activity android:name="com.example.hai_da_shi_tang2019.fan_qie_chao_dan" />
        <activity android:name="com.example.hai_da_shi_tang2019.qing_gua_chao_dan" />
        <activity android:name="com.example.hai_da_shi_tang2019.xi_yu_rou_chuan" />
        <activity android:name="com.example.hai_da_shi_tang2019.mu_er_qing_cai" />
        <activity android:name="com.example.hai_da_shi_tang2019.suanhuang" />
        <activity android:name="com.example.hai_da_shi_tang2019.wawa" />
        <activity android:name="com.example.hai_da_shi_tang2019.donggua" />
        <activity android:name="com.example.hai_da_shi_tang2019.dougua" />
        <activity android:name="com.example.hai_da_shi_tang2019.juanxin" />
        <activity android:name="com.example.hai_da_shi_tang2019.douya" />
        <activity android:name="com.example.hai_da_shi_tang2019.yinshi" />
        <activity android:name="com.example.hai_da_shi_tang2019.niurou" />
        <activity android:name="com.example.hai_da_shi_tang2019.xiaochier" />
        <activity android:name="com.example.hai_da_shi_tang2019.shuang" />
        <activity android:name="com.example.hai_da_shi_tang2019.shaola" />
        <activity android:name="com.example.hai_da_shi_tang2019.mifen" />
        <activity android:name="com.example.hai_da_shi_tang2019.xiaomian" />
        <activity android:name="com.example.hai_da_shi_tang2019.huangmen" />
        <activity android:name="com.example.hai_da_shi_tang2019.shuijiao" />
        <activity android:name="com.example.hai_da_shi_tang2019.xiaochi" />
        <activity android:name="com.example.hai_da_shi_tang2019.huotui" />
        <activity android:name="com.example.hai_da_shi_tang2019.pidan" />
        <activity android:name="com.example.hai_da_shi_tang2019.roucai" />
        <activity android:name="com.example.hai_da_shi_tang2019.bafan" />
        <activity android:name="com.example.hai_da_shi_tang2019.mala" />
        <activity android:name="com.example.hai_da_shi_tang2019.shiguo" />
        <activity android:name="com.example.hai_da_shi_tang2019.tieban" />
        <activity android:name="com.example.hai_da_shi_tang2019.danbao" />
        <activity android:name="com.example.hai_da_shi_tang2019.zaocan" />
        <activity android:name="com.example.hai_da_shi_tang2019.mian" />
        <activity android:name="com.example.hai_da_shi_tang2019.mifan" />
        <activity android:name="com.example.hai_da_shi_tang2019.shitangxinxi" />
        <activity android:name="com.example.hai_da_shi_tang2019.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>